@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
font-family: "Montserrat";

}
button{
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px;
  background-color: #f0f0f0;
    border: rgba(1, 53, 69, 0.579) solid;
  margin:auto 5px;

}
input{
  box-sizing: border-box;
  border-radius: 20px;
  border: rgba(1, 53, 69, 0.579) solid;
margin-left:0px;
  padding: 5px;
  height: 35px;
  width:250px

}
.dropdown{
  border-radius: 20px;
  height: 25px;
}
